

.main-customer {
    .form-group {
        position: relative;
    }

    .select-list {
        position: relative;

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-left: 30px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            border-left: 0;
        }



        .btn-default {
            margin-left: 0;
            padding-left: 30px;

            [class*=" icofont-"],
            [class^=icofont-] {
                position: absolute;
                z-index: 1;
                top: 11px;
                left: 10px;
            }
        }

        .select-option ul li,
        .select-option2 ul li {
            label {
                cursor: pointer;
            }

            cursor: pointer;
        }

        .select-option ul li:not(:last-child),
        .select-option2 ul li:not(:last-child) {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0 solid #e5e5e5;
        }

        .select-user {
            .select-option {
                .check-list {
                    display: flex;
                    align-items: center;
                }
            }
        }

    }


    .btn {
        white-space: nowrap;

        i {
            margin: 0;
        }
    }

    .btn-default {
        font-weight: normal;
        height: 35px;
    }

    .btn-mqh {
        color: #fff;
        height: auto;
        line-height: normal;
        padding: 4px 8px;
        border-radius: 20px;
    }

    .wrap_bg {
        .table-responsive .table {
            border-left: 4px solid #CFD9EE;

            th {
                text-align: center;
                background: #CFD9EE;
            }
        }
    }


    .left-button,
    .right-button {
        .btn {
            border-radius: 10px;
        }
    }

    .search-history {
        .btn {
            border-radius: 10px;
        }
    }

    .check-list .checkmark {
        background: #fff;
    }

    .select-list {}

    .avatar_inner {
        background: #E3EBF3;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #698096;
        margin-right: 10px;
    }

    .filter-nguonkh {
        .select-option {
            ul {
                li {
                    padding-bottom: 0;
                    border-bottom: 0;
                    padding-left: 30px;
                    position: relative;

                    &.active {
                        &::before {
                            content: '\eed8';
                            font-family: IcoFont;
                            font-size: 20px;
                            position: absolute;
                            left: 0px;
                            top: -5px;
                        }
                    }

                    .filter {
                        border-left: 4px solid;
                        padding-left: 10px;

                        &.all {
                            border-left: 0;
                        }
                    }
                }
            }
        }
    }

    .filter-list {
        .select-option {
            width: 400px;
        }
        input.form-control {
            height: auto;
        }
        .action {
            justify-content: space-between;

            * {
                position: relative;

                &::after {
                    content: '\2022';
                    position: absolute;
                    right: -20px;
                    color: #698096;
                }

            }

            a:last-of-type {
                &::after {
                    display: none;
                }
            }
        }
    }
}
.filter-list {
    input.form-control {
        height: auto;
    }
}
// sản phẩm
.menu-left {
    background: #1F2549;

    .logo {
        background: #2A3262;
        padding: 20px;
    }

    .nav-left ul>li>a {
        i {
            font-size: 20px;
        }

        &.active,
        &:hover {
            background: #343E7A;
        }
    }
}

.text-base {
    color: #FD5023;
}

.bg-base {
    background: #FD5023;
}

.btn-base {
    background: #343E7A;
    color: #fff;
}

.btn-outline-base {
    border-color: #343E7A;
    color: #343E7A;
}

.btn-round {
    border-radius: 20px;
}

.main-products,
.add-product {
    .tab-default a {
        text-transform: uppercase;
        padding: 0 10px;

        &.active {
            border-bottom: 1px solid #FD5023;
            color: #FD5023;
            font-weight: bold;
        }
    }

    .bg-white {
        border-radius: 16px;
    }
}

.btn-active,
.btn:hover {
    background: #FD5023;
    color: #fff;
    border-color: #FD5023;
}

.disabled {
    opacity: 0.8;
}

.main-products {
    .hanmuc {
        color: #616161;
        background: #F5F5F5;
        padding: 2px 10px;
        border-radius: 20px;
    }

    .item-order {
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;

        img {
            min-width: 80px;
            width: 80px;
            height: 80px;
            border-radius: 4px;
        }

        .info {
            .name-product {
                color: #1F2549;
                font-size: 16px;
            }

            .cat {
                color: #919191;
                font-size: 13px
            }
        }
    }

    .table-responsive .table {

        td,
        th {
            border-left: 0;
            border-right: 0;
        }

        tr:nth-child(even) td {
            background: inherit;
        }

    }

    .sub-product {
        background: #F7F7F7;

        td {
            border: 0;
        }

        .item-order {
            img {
                min-width: 40px;
                width: 40px;
                height: 40px;
                border-radius: 4px;
            }
        }

        .xemthem {
            position: relative;
            display: block;

            span {
                position: relative;
                background: #F7F7F7;
                padding: 0 10px;
            }

            &::before {
                content: '';
                height: 1px;
                width: 100%;
                background: #c2c2c2;
                position: absolute;
                top: 50%;
                left: 0;
            }
        }
    }


}

.form-control {
    &.form-line {
        border: 0;
        border-bottom: 1px solid #E5E5E5;
        padding-left: 0;
    }
}

.main-order {
    .table-responsive .table {

        td,
        th {
            border-left: 1px solid #CFD9EE;
            border-right: 1px solid #CFD9EE;
        }

        tr:nth-child(even) td {
            background: inherit;
        }

    }

    .item-order img {
        min-width: 50px;
        width: 50px;
        height: 50px;
        border-radius: 4px;
    }
}

.add-product {
    padding: 0;
    padding-top: 24px;

    .manage-color {
        .list {
            gap: 10px;
            margin-bottom: 10px;

            .items {
                width: 80px;
                margin-bottom: 0;
                padding: 0;

                .delete {
                    background: #C2C2C2;
                    top: -8px;
                }
            }
        }
    }

    .wrap_input {
        font-size: 13px;
    }

    .form-group {
        position: relative;

        input {
            padding-right: 35px;
        }

        .note {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #616161;
            border-left: 1px solid #616161;
            padding-left: 10px;
        }


        .edit {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #616161;
            padding-left: 20px;
        }

        &.namesp input {
            padding-right: 70px;
        }
    }



    .box-info {

        ul {
            padding-left: 20px;
            margin-bottom: 10px;

            li {
                list-style-type: disc;
            }
        }

        .item {
            .label {
                min-width: 180px;

                span {
                    display: block;
                    color: #919191;
                }
            }

            .wrap_input {
                width: 100%;
            }
        }
        .them-chatlieu{
            ul{
                padding: 0;
                li{
                    list-style-type: none;
                    border: 0;
                    padding: 10px 0;
                    margin: 0;
                    position: relative;
                }
            }
        }
    }

    .choose-wrap {
        color: #FD5023;
        font-size: 13px;
        border-radius: 8px;
        line-height: 140%;
        display: block;

        i {
            font-size: 20px;
        }

        span {
            margin-top: 0;
            color: #FD5023;
        }
    }


    .action-form {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
        background: #FFF;
        padding: 20px;
        box-shadow: 4px 0px 8px 0px rgba(54, 41, 183, 0.08), 0px 4px 30px 0px rgba(54, 41, 183, 0.07);
        margin-left: -15px;
        width: calc(100% + 30px);

        .btn {
            min-width: 100px;
            margin-left: 10px;
        }
    }

    .box-list {
        background: #F5F5F5;
        padding-right: 70px;
        margin-bottom: 15px;
    }

    .item-edit {
        position: relative;

        .wrap_input {
            position: relative;
            background: #F5F5F5;
            padding: 15px;

            .delete {
                position: absolute;
                right: 10px;
                cursor: pointer;
                top: 10px;
                font-size: 20px;
            }
        }

        .form-group {
            .choose {
                width: 40px;
                height: 40px;
                padding-bottom: 0;
            }
        }

        .flex-input-choose {
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            position: static;
            margin-bottom: 0;

            .icon-action {
                font-size: 20px;
                line-height: 40px;
                display: block;
                color: #616161;
            }

            .right-action {
                position: absolute;
                right: 20px;
                display: flex;
                gap: 10px;
                justify-content: end;
                width: 70px;
            }
        }
    }

    .btn-all {
        border-radius: 20px;
        background: #858BAF;
    }

    .table-scroll {
        table {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    @media (max-width:991px) {
        .table-scroll {
            table {
                width: 1000px !important;
                max-width: 1000px !important;
            }
        }
    }

}

.bar {
    position: relative;
    border-radius: 100px;
    background: #E5E5E5;
    height: 20px;
    width: 100%;

    .percent {
        position: absolute;
        height: 100%;
        background: #4AAC4C;
        color: #fff;
        left: 0;
        text-align: center;
        top: 0;
        border-radius: 100px;
    }
}

.box-info-user {
    border-radius: 10px;
    background: #E2EBF4;
}

.btn-add-user {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #C2C2C2;
    text-align: center;
    line-height: 28px;
    border: 1px dashed #C2C2C2;
}

.btn-add {
    border: 1px dashed #FD5023;
    border-radius: 20px;
    background: #fff;
    color: #FD5023;
}

.list-avt {
    img {
        margin-left: -10px;
    }
}

.icon {
    width: 50px;
    height: 50px;
    margin: auto;
    line-height: 50px;
    font-size: 25px;
}

.item-thongke {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
}

.box-info-item {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
    padding: 10px;

    h3 {
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        border-bottom: 1px solid #E5E5E5;
    }

    table {
        td {
            padding: 5px 0;

            &:last-of-type {
                text-align: right;
            }
        }
    }
}

.side-left {
    max-height: calc(100vh - 200px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: #e7e7e7;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #E5E5E5;
    }
}

.bg-box {
    background: #F5F5F5;

}

.them-nganhhang {
    .action {
        .btn {
            min-width: 120px;
        }
    }
}

.list-toys {
    padding: 20px 10px;

    &:not(:last-of-type) {
        border-left: 1px solid #E5E5E5;
    }

    ul {
        margin-bottom: 0;
    }

    h6 {
        color: #1F2549;
        font-weight: bold;
        text-transform: uppercase;

        a {
            color: #1F2549;

        }

    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #919191;
        padding: 4px 0;
        display: block;
    }
}
.tongquan{
    .number{
        font-weight: bold;
        font-size: 30px;
        span{
            font-weight: normal;
            font-size: 14px;
        }
    }
}
.datetime{
    position: relative;
    width: 100%;
    max-width: 350px;
    >i{
        position: absolute;
        left: 10px;
        top: 15px;
      
    }
    input{
        padding-left: 30px; 
    }
}
label.switch{
    width: 50px;
    input:checked+.slider:before {
        -webkit-transform: translateX(35px);
        -ms-transform: translateX(35px);
        transform: translateX(25px);
    }
}
.w-200px{
    width: 200px;
    min-width: 200px;
}
.box-tieuchi{
    color: #616161;
    border-radius: 4px;
    width: 100%;
    padding: 20px;
    border: 1px solid  #C2C2C2;
    h5{
        font-weight: bold;
        color: #1F2549;
    }
    ul{ 
        li{
            padding-left: 25px;
            display: inline-block;
            margin-bottom: 10px;
            width: 49%;
            position: relative;
            &::before{
                content: '\2022';
                position: absolute;
                left: 10px;
                top: -2px;
            }
            @media (max-width:768px) {
                width: 100%;
            }
        }
    }
}
.them-chatlieu{
    .form-group{
        margin-bottom: 0;
    }
    ul{
        li{
            list-style-type: none;
            border: 0;
            padding: 10px 0;
            margin: 0;
            position: relative;
            &.active{
                color: #FD5023;
                &::after{
                    content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.148 5.46029L7.14804 14.4603C7.0958 14.5126 7.03376 14.5541 6.96547 14.5824C6.89719 14.6107 6.82399 14.6253 6.75007 14.6253C6.67615 14.6253 6.60295 14.6107 6.53466 14.5824C6.46638 14.5541 6.40434 14.5126 6.3521 14.4603L2.4146 10.5228C2.30905 10.4172 2.24976 10.2741 2.24976 10.1248C2.24976 9.97556 2.30905 9.8324 2.4146 9.72686C2.52015 9.62131 2.6633 9.56201 2.81257 9.56201C2.96184 9.56201 3.10499 9.62131 3.21054 9.72686L6.75007 13.2671L15.3521 4.66436C15.4576 4.55881 15.6008 4.49951 15.7501 4.49951C15.8993 4.49951 16.0425 4.55881 16.148 4.66436C16.2536 4.7699 16.3129 4.91306 16.3129 5.06232C16.3129 5.21159 16.2536 5.35475 16.148 5.46029Z" fill="%23FD5023"/></svg>');
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }
        }
    }
}
.bottom-action{
    position: sticky;
    bottom: 0;
    left: 0;
    background: #fff;
    padding-top: 15px;
    .btn, .btn-default{
        border-radius: 100px;
        border: 1px solid  #CACACA;
        color: #6D767E;
    }
    .select2-container--default{
        min-width: 200px;

        .select2-selection--single {
            border-radius: 100px;
            border: 1px solid  #CACACA;
            color: #6D767E;
            .select2-selection__arrow{
                border-left: 0;
            }
             .select2-selection__rendered {
                color: #6D767E;
             }
        }
    } 
 
}